Repository jakubwalczakk/city-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,astro}": ["eslint --fix"],
  "*.{json,md,css}": ["prettier --write"]
}

Fix compilation issues
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-errors.spec.ts
  e2e/generation/generation-priorities.spec.ts
  e2e/global-setup.ts
  e2e/history/auto-archive.spec.ts
  e2e/history/move-to-history.spec.ts
  e2e/page-objects/ActivityFormModal.ts
  e2e/page-objects/PlanDetailsPage.ts
  e2e/page-objects/PlansListPage.ts
  e2e/plan-editing/activity-validation.spec.ts
  e2e/plan-editing/add-activity.spec.ts
  e2e/plan-editing/delete-activity.spec.ts
  e2e/plan-editing/edit-activity.spec.ts
  e2e/plans/delete-plan.spec.ts
  e2e/plans/plan-rls.spec.ts
  e2e/tsconfig.json
  playwright.config.ts
  src/db/supabase.client.ts
  src/env.d.ts
  src/hooks/useBasicInfoStep.ts
  src/hooks/useFixedPointForm.ts
  src/hooks/usePlanDetails.ts
  src/lib/schemas/fixed-point.schema.ts
  src/lib/schemas/plan.schema.ts
  src/lib/services/auth.service.ts
  src/lib/services/fixed-point.service.ts
  src/lib/services/planContentParser.ts
  src/pages/api/plans/[planId]/fixed-points.ts
  src/types.ts
  test/unit/hooks/useRegisterForm.test.ts
  test/unit/lib/services/auth.service.test.ts
  test/unit/lib/services/feedback.service.test.ts
  test/unit/lib/services/fixed-point.service.test.ts
  test/unit/lib/services/pdf.service.test.ts
  test/unit/lib/services/plan-generation.service.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix compilation issues
  src/components/draft-plan/FixedPointsSection.tsx
  src/db/database.types.ts
  src/hooks/useFixedPointForm.ts
  src/lib/schemas/fixed-point.schema.ts
  src/lib/schemas/plan.schema.ts
  src/lib/services/fixed-point.service.ts
  src/types.ts
  test/integration/hooks/usePlanDetails.integration.test.ts
  test/unit/hooks/useActivityForm.test.ts
  test/unit/hooks/useAuth.test.ts
  test/unit/hooks/useBasicInfoStep.test.ts
  test/unit/hooks/useExportPlan.test.ts
  test/unit/hooks/useFixedPointForm.test.tsx
  test/unit/hooks/useForgotPasswordForm.test.ts
  test/unit/hooks/useGoogleAuth.test.ts
  test/unit/hooks/useLoginForm.test.ts
  test/unit/hooks/useNewPlanForm.test.ts
  test/unit/hooks/useOnboardingModal.test.ts
  test/unit/hooks/usePlanActionsMenu.test.ts
  test/unit/hooks/usePlanCard.test.ts
  test/unit/hooks/usePlanDetails.test.ts
  test/unit/hooks/usePlans.test.ts
  test/unit/hooks/usePlansDashboard.test.ts
  test/unit/hooks/usePreferencesForm.test.ts
  test/unit/hooks/useProfile.test.ts
  test/unit/lib/services/profile.service.test.ts
Due: eslint --fix

fix workflow issue
  .github/actions/run-unit-tests/action.yml
Due: none

Fix E2E tests setup
  .github/actions/run-e2e-tests/action.yml
  .github/workflows/validate-code.yml
  astro.config.mjs
  playwright.config.ts
Due: eslint --fix

Fix E2E tests setup
  .github/actions/run-e2e-tests/action.yml
  e2e/auth/logout.spec.ts
  e2e/auth/password-recovery.spec.ts
  e2e/export/export-pdf.spec.ts
  e2e/feedback/feedback-persistence.spec.ts
  e2e/feedback/rate-plan.spec.ts
  e2e/feedback/submit-feedback.spec.ts
  e2e/fixtures.ts
  e2e/global-setup.ts
  e2e/plans/plan-rls.spec.ts
  e2e/shared-user-fixtures.ts
Due: eslint --fix

Add missing unit tests of components
  test/setup-react.ts
  test/unit/components/ActivityForm.test.tsx
  test/unit/components/BasicInfoStep.test.tsx
  test/unit/components/FixedPointsStep.test.tsx
  test/unit/components/NewPlanForm.test.tsx
  test/unit/components/PlanHeader.test.tsx
  test/unit/components/PlanList.test.tsx
  test/unit/components/PlansDashboard.test.tsx
  test/unit/components/SummaryStep.test.tsx
  test/unit/components/auth/ForgotPasswordForm.test.tsx
  test/unit/components/auth/GoogleAuthButton.test.tsx
  test/unit/components/auth/LoginForm.test.tsx
  test/unit/components/auth/OnboardingModal.test.tsx
  test/unit/components/auth/PasswordInput.test.tsx
  test/unit/components/auth/RegisterForm.test.tsx
  test/utils/mock-factories.ts
  test/utils/render-helpers.tsx
Due: eslint --fix

progress with the unit tests
  src/components/ActivityForm.tsx
  src/components/NewPlanForm.tsx
  src/components/PaginationControls.tsx
  src/components/PlansDashboard.tsx
  src/components/SummaryStep.test.tsx
  src/components/auth/ForgotPasswordForm.tsx
  src/components/auth/GoogleAuthButton.tsx
  src/components/fixed-points/FixedPointsList.tsx
  src/hooks/useNewPlanForm.ts
  src/lib/utils/planFormHelpers.ts
  test/unit/components/ActivityForm.test.tsx
  test/unit/components/BasicInfoStep.test.tsx
  test/unit/components/FixedPointsStep.test.tsx
  test/unit/components/PlansDashboard.test.tsx
  test/unit/components/SummaryStep.test.tsx
  test/unit/components/auth/ForgotPasswordForm.test.tsx
  test/unit/components/auth/GoogleAuthButton.test.tsx
  test/unit/hooks/useNewPlanForm.test.ts
  test/unit/hooks/usePlans.test.ts
  test/unit/lib/constants/categories.test.ts
  test/unit/lib/constants/planStatus.test.ts
  test/unit/lib/constants/timelineCategories.test.ts
  test/unit/lib/errors/index.test.ts
  test/unit/lib/schemas/plan.schema.test.ts
  test/unit/lib/services/auth.client.service.test.ts
  test/unit/lib/services/openrouter.service.test.ts
  test/unit/lib/services/openrouter.types.test.ts
  test/unit/lib/services/pdf.service.test.ts
  test/unit/lib/services/plan.service.test.ts
  test/unit/lib/services/planFormApi.service.test.ts
  test/unit/lib/utils/dateFormatters.test.ts
  test/unit/lib/utils/formDateHelpers.test.ts
  test/unit/lib/utils/index.test.ts
  test/unit/lib/utils/planFormHelpers.test.ts
Due: eslint --fix

Add more unit tests for components
  src/components/PlanDetailsView.tsx
  test/unit/components/ActivityForm.test.tsx
  test/unit/components/BasicInfoStep.test.tsx
  test/unit/components/DraftPlanView.test.tsx
  test/unit/components/EventTimeline.test.tsx
  test/unit/components/FeedbackModule.test.tsx
  test/unit/components/GeneratedPlanView.test.tsx
  test/unit/components/GenerationsCounter.test.tsx
  test/unit/components/NewPlanForm.test.tsx
  test/unit/components/PlanDetailsView.test.tsx
  test/unit/components/PlanGenerationLoading.test.tsx
  test/unit/components/PlanList.test.tsx
  test/unit/components/PlansDashboard.test.tsx
  test/unit/components/PreferencesForm.test.tsx
  test/unit/components/PreferencesSelector.test.tsx
  test/unit/components/ProfileHeader.test.tsx
  test/unit/components/ProfileView.test.tsx
  test/unit/components/SummaryStep.test.tsx
  test/unit/components/TravelPaceSelector.test.tsx
  test/unit/components/auth/GoogleAuthButton.test.tsx
  test/unit/components/auth/OnboardingModal.test.tsx
  test/unit/components/loading-scenes/AirplaneScene.test.tsx
  test/unit/components/loading-scenes/BeachScene.test.tsx
  test/unit/components/loading-scenes/SunsetScene.test.tsx
  test/unit/components/timeline/TimelineItem.test.tsx
  test/unit/lib/services/auth.client.service.test.ts
  test/unit/lib/services/plan.service.test.ts
  test/unit/lib/services/planFormApi.service.test.ts
  test/unit/lib/utils/planFormHelpers.test.ts
  test/utils/mock-factories.ts
  test/utils/render-helpers.tsx
  vitest.config.react.ts
Due: eslint --fix

Add more components tests
  test/unit/components/EmptyState.test.tsx
  test/unit/components/GenerationsCounter.test.tsx
  test/unit/components/PlanDetailsView.test.tsx
  test/unit/components/ToasterWrapper.test.tsx
  test/unit/components/TravelPaceSelector.test.tsx
  test/unit/components/auth/AuthForm.test.tsx
  test/unit/components/auth/ForgotPasswordForm.test.tsx
  test/unit/components/auth/password-update/InvalidSession.test.tsx
  test/unit/components/auth/password-update/PasswordUpdateForm.test.tsx
  test/unit/components/auth/password-update/PasswordUpdateSuccess.test.tsx
  test/unit/components/auth/password-update/SessionVerifying.test.tsx
  test/unit/components/draft-plan/DatesSection.test.tsx
  test/unit/components/draft-plan/FixedPointsSection.test.tsx
  test/unit/components/draft-plan/NotesSection.test.tsx
  test/unit/components/fixed-points/FixedPointForm.test.tsx
  test/unit/components/fixed-points/FixedPointsList.test.tsx
  test/unit/components/generated-plan/DailyItinerary.test.tsx
  test/unit/components/generated-plan/ModificationsCard.test.tsx
  test/unit/components/generated-plan/PlanSummaryCard.test.tsx
  test/unit/components/generated-plan/WarningsCard.test.tsx
  test/unit/components/layout/UserMenu.test.tsx
  test/unit/components/plan-header/EditableTitle.test.tsx
  test/unit/components/plan-header/PlanActionsMenu.test.tsx
  test/unit/components/plan-header/PlanMetadata.test.tsx
  test/unit/components/providers/QueryProvider.test.tsx
  test/unit/components/summary/FixedPointSummaryItem.test.tsx
  test/unit/components/timeline/TimelineItem.test.tsx
  test/unit/hooks/useFeedback.test.tsx
  vitest.config.react.ts
Due: eslint --fix

Fix unit tests after recent dependencies upgrades
  package-lock.json
  package.json
  src/lib/services/openrouter.service.ts
  test/unit/lib/schemas/activity.schema.test.ts
  test/unit/lib/schemas/auth.schema.test.ts
  test/unit/lib/schemas/feedback.schema.test.ts
  test/unit/lib/schemas/fixed-point.schema.test.ts
  test/unit/lib/schemas/preferences.schema.test.ts
Due: eslint --fix, prettier --write

Add E2E tests fixers
  .claude/commands/fix-e2e-tests.md
  CLAUDE.md
  scripts/test-e2e-file.sh
Due: prettier --write

Improve unit tests
  .cursor/rules/vitest-unit-testing.mdc
  CLAUDE.md
  src/components/DraftPlanView.tsx
  src/components/FeedbackModule.tsx
  src/components/GenerationsCounter.tsx
  src/components/PlanDetailsView.tsx
  src/components/ProfileView.tsx
  src/components/draft-plan/FixedPointsSection.tsx
  src/components/generated-plan/PlanSummaryCard.tsx
  src/components/timeline/TimelineItem.tsx
  test/unit/components/DraftPlanView.test.tsx
  test/unit/components/FeedbackModule.test.tsx
  test/unit/components/GenerationsCounter.test.tsx
  test/unit/components/ProfileView.test.tsx
  test/unit/components/draft-plan/FixedPointsSection.test.tsx
  test/unit/components/fixed-points/FixedPointsList.test.tsx
  test/unit/components/generated-plan/PlanSummaryCard.test.tsx
  test/unit/components/summary/FixedPointSummaryItem.test.tsx
  test/unit/components/timeline/TimelineItem.test.tsx
Due: eslint --fix, prettier --write

Fix some of the e2e
  e2e/auth/logout.spec.ts
  e2e/export/export-pdf.spec.ts
  e2e/fixtures.ts
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-errors.spec.ts
  e2e/global-setup.ts
  e2e/page-objects/PlanDetailsPage.ts
  e2e/page-objects/PlansListPage.ts
  e2e/shared-user-fixtures.ts
  scripts/test-e2e-file.sh
Due: eslint --fix

Revisit e2e tests (#19)
  .claude/commands/fix-e2e-tests.md
  .cursor/rules/vitest-unit-testing.mdc
  CLAUDE.md
  e2e/auth/logout.spec.ts
  e2e/export/export-pdf.spec.ts
  e2e/fixtures.ts
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-errors.spec.ts
  e2e/global-setup.ts
  e2e/page-objects/PlanDetailsPage.ts
  e2e/page-objects/PlansListPage.ts
  e2e/shared-user-fixtures.ts
  package-lock.json
  package.json
  scripts/test-e2e-file.sh
  src/components/DraftPlanView.tsx
  src/components/FeedbackModule.tsx
  src/components/GenerationsCounter.tsx
  src/components/PlanDetailsView.tsx
  src/components/ProfileView.tsx
  src/components/draft-plan/FixedPointsSection.tsx
  src/components/generated-plan/PlanSummaryCard.tsx
  src/components/timeline/TimelineItem.tsx
  src/lib/services/openrouter.service.ts
  test/unit/components/DraftPlanView.test.tsx
  test/unit/components/FeedbackModule.test.tsx
  test/unit/components/GenerationsCounter.test.tsx
  test/unit/components/ProfileView.test.tsx
  test/unit/components/draft-plan/FixedPointsSection.test.tsx
  test/unit/components/fixed-points/FixedPointsList.test.tsx
  test/unit/components/generated-plan/PlanSummaryCard.test.tsx
  test/unit/components/summary/FixedPointSummaryItem.test.tsx
  test/unit/components/timeline/TimelineItem.test.tsx
  test/unit/lib/schemas/activity.schema.test.ts
  test/unit/lib/schemas/auth.schema.test.ts
  test/unit/lib/schemas/feedback.schema.test.ts
  test/unit/lib/schemas/fixed-point.schema.test.ts
  test/unit/lib/schemas/preferences.schema.test.ts
Due: eslint --fix, prettier --write

Improve e2e tests
  src/components/FixedPointsStep.test.tsx
  src/components/NewPlanForm.test.md
  src/components/NewPlanForm.test.summary.md
  src/components/SummaryStep.test.tsx
  src/components/Welcome.astro
  src/components/__tests__/README.md
  src/lib/errors/README.md
  test/unit/components/PlanDetailsView.test.tsx
  test/unit/components/ProfileView.test.tsx
  test/unit/components/auth/UpdatePasswordForm.test.tsx
  test/unit/components/plan-actions/ExportPlanButton.test.tsx
  test/unit/hooks/useDraftPlan.test.ts
  test/unit/hooks/usePreferencesForm.test.ts
  vitest.config.react.ts
  vitest.config.ts
  vitest.config.unit.ts
Due: eslint --fix, prettier --write

Improve overall linting & compiler solution
  .github/actions/lint-and-format/action.yml
  .github/dependabot.yml
  .lintstagedrc.json
  package.json
  src/lib/schemas/activity.schema.ts
  src/lib/schemas/auth.schema.ts
  src/lib/schemas/feedback.schema.ts
  src/lib/schemas/fixed-point.schema.ts
  src/lib/schemas/plan.schema.ts
  src/lib/schemas/preferences.schema.ts
  src/lib/services/openrouter.service.ts
  src/pages/api/profiles/index.ts
  test/unit/hooks/useActivityForm.test.ts
  test/unit/hooks/useActivityFormState.test.ts
  test/unit/hooks/useBasicInfoStep.test.ts
  test/unit/hooks/useConfirmAction.test.ts
  test/unit/hooks/useDeleteConfirmation.test.ts
  test/unit/hooks/useEditableTitle.test.ts
  test/unit/hooks/useExportPlan.test.ts
  test/unit/hooks/useFixedPointForm.test.tsx
  test/unit/hooks/useForgotPasswordForm.test.ts
  test/unit/hooks/useLoginForm.test.ts
  test/unit/hooks/useOnboardingModal.test.ts
  test/unit/hooks/usePasswordUpdateForm.test.ts
  test/unit/hooks/usePlanActionsMenu.test.ts
  test/unit/hooks/usePlanCard.test.ts
  test/unit/hooks/usePlans.test.ts
  test/unit/lib/services/openrouter.types.test.ts
Due: eslint --fix, prettier --write

Disable failing e2e tests
  .github/actions/run-e2e-tests/action.yml
  e2e/auth/login.spec.ts
  e2e/auth/login.spec.ts.backup
  e2e/auth/logout.spec.ts
  e2e/auth/onboarding.spec.ts
  e2e/auth/password-recovery.spec.ts
  e2e/auth/register.spec.ts
  e2e/export/export-pdf.spec.ts
  e2e/feedback/feedback-persistence.spec.ts
  e2e/feedback/rate-plan.spec.ts
  e2e/feedback/submit-feedback.spec.ts
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-errors.spec.ts
  e2e/generation/generation-limits.spec.ts
  e2e/generation/generation-priorities.spec.ts
  e2e/history/auto-archive.spec.ts
  e2e/history/history-readonly.spec.ts
  e2e/history/move-to-history.spec.ts
  e2e/history/view-history.spec.ts
  e2e/plan-editing/activity-validation.spec.ts
  e2e/plan-editing/add-activity.spec.ts
  e2e/plan-editing/delete-activity.spec.ts
  e2e/plan-editing/edit-activity.spec.ts
  e2e/plans/create-plan-full.spec.ts
  e2e/plans/delete-plan.spec.ts
  e2e/plans/edit-plan-name.spec.ts
  e2e/plans/plan-details.spec.ts
  e2e/plans/plan-rls.spec.ts
  e2e/plans/plans-list.spec.ts
Due: eslint --fix

Fix one of the problematic tests
  src/pages/api/plans/[planId]/generate.ts
Due: eslint --fix

Disable failing e2e tests (#25)
  .github/actions/run-e2e-tests/action.yml
  e2e/auth/login.spec.ts
  e2e/auth/login.spec.ts.backup
  e2e/auth/logout.spec.ts
  e2e/auth/onboarding.spec.ts
  e2e/auth/password-recovery.spec.ts
  e2e/auth/register.spec.ts
  e2e/export/export-pdf.spec.ts
  e2e/feedback/feedback-persistence.spec.ts
  e2e/feedback/rate-plan.spec.ts
  e2e/feedback/submit-feedback.spec.ts
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-errors.spec.ts
  e2e/generation/generation-limits.spec.ts
  e2e/generation/generation-priorities.spec.ts
  e2e/history/auto-archive.spec.ts
  e2e/history/history-readonly.spec.ts
  e2e/history/move-to-history.spec.ts
  e2e/history/view-history.spec.ts
  e2e/plan-editing/activity-validation.spec.ts
  e2e/plan-editing/add-activity.spec.ts
  e2e/plan-editing/delete-activity.spec.ts
  e2e/plan-editing/edit-activity.spec.ts
  e2e/plans/create-plan-full.spec.ts
  e2e/plans/delete-plan.spec.ts
  e2e/plans/edit-plan-name.spec.ts
  e2e/plans/plan-details.spec.ts
  e2e/plans/plan-rls.spec.ts
  e2e/plans/plans-list.spec.ts
  src/pages/api/plans/[planId]/generate.ts
Due: eslint --fix

Fix validate-code config
  .github/workflows/validate-code.yml
Due: none

Rollback validate-code workflow recent changes
  .github/workflows/validate-code.yml
Due: none

continue with some clean-up
  .ai/docs/035-ci-cd-implementation.md
  scripts/test-export.sh
  scripts/test-generation.sh
Due: prettier --write

remove google login option
  e2e/page-objects/LoginPage.ts
  e2e/page-objects/RegisterPage.ts
  src/components/auth/GoogleAuthButton.tsx
  src/hooks/useGoogleAuth.ts
  src/pages/login.astro
  src/pages/register.astro
  test/unit/components/auth/GoogleAuthButton.test.tsx
Due: eslint --fix
