Repository jakubwalczakk/city-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add missing envs to E2E job
  .github/workflows/master.yml
  .github/workflows/pull-request.yml
Due: none

Introduce composite actions
  .github/actions/README.md
  .github/actions/lint-and-format/action.yml
  .github/actions/run-e2e-tests/action.yml
  .github/actions/run-unit-tests/action.yml
  .github/actions/setup-node-dependencies/action.yml
  .github/actions/verify-build/action.yml
  .github/workflows/master.yml
  .github/workflows/pull-request.yml
Due: prettier --write

Fix composite actions
  .github/actions/setup-node-dependencies/action.yml
  .github/workflows/master.yml
  .github/workflows/pull-request.yml
Due: none

fix: update check names in Vercel CI status script
  scripts/check-ci-status.js
Due: eslint --fix

feat: deploy via GitHub Actions after CI passes
  .github/workflows/master.yml
  scripts/check-ci-status.js
  vercel.json
Due: eslint --fix, prettier --write

Improve pipeline
  .github/actions/README.md
  .github/actions/run-e2e-tests/action.yml
  .github/dependabot.yml
  .github/workflows/master.yml
  .github/workflows/pull-request.yml
  .github/workflows/validate-code.yml
Due: prettier --write

test(e2e): add comprehensive E2E tests for plan editing
  ai/e2e-plan-editing-implementation-summary.md
  e2e/page-objects/ActivityFormModal.ts
  e2e/page-objects/PlanTimelinePage.ts
  e2e/plan-editing/README.md
  e2e/plan-editing/activity-validation.spec.ts
  e2e/plan-editing/add-activity.spec.ts
  e2e/plan-editing/delete-activity.spec.ts
  e2e/plan-editing/edit-activity.spec.ts
  src/components/ActivityForm.tsx
  src/components/EventTimeline.tsx
  src/components/generated-plan/DailyItinerary.tsx
  src/components/timeline/TimelineItem.tsx
Due: eslint --fix, prettier --write

feat(e2e): implement comprehensive authentication E2E tests
  ai/e2e-auth-implementation-plan.md
  e2e/auth/login.spec.ts
  e2e/auth/logout.spec.ts
  e2e/auth/onboarding.spec.ts
  e2e/auth/password-recovery.spec.ts
  e2e/auth/register.spec.ts
  e2e/fixtures.ts
  e2e/page-objects/ForgotPasswordPage.ts
  e2e/page-objects/LoginPage.ts
  e2e/page-objects/OnboardingModal.ts
  e2e/page-objects/ProfilePage.ts
  e2e/page-objects/RegisterPage.ts
  e2e/page-objects/UpdatePasswordPage.ts
  e2e/test-setup.ts
  src/components/auth/ForgotPasswordForm.tsx
  src/components/auth/GoogleAuthButton.tsx
  src/components/auth/password-update/PasswordUpdateForm.tsx
  src/components/layout/UserMenu.tsx
Due: eslint --fix, prettier --write

test: add E2E tests for plan generation and PDF export
  ai/e2e-generation-export-implementation-plan.md
  ai/e2e-generation-export-tests-summary.md
  e2e/export/export-pdf.spec.ts
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-errors.spec.ts
  e2e/generation/generation-limits.spec.ts
  e2e/generation/generation-priorities.spec.ts
  e2e/page-objects/GenerationLoadingPage.ts
  package-lock.json
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

test(e2e): add comprehensive E2E tests for plan history and archiving functionality
  ai/e2e-history-implementation-plan.md
  e2e/history/README.md
  e2e/history/auto-archive.spec.ts
  e2e/history/history-readonly.spec.ts
  e2e/history/move-to-history.spec.ts
  e2e/history/view-history.spec.ts
  e2e/page-objects/HistoryPage.ts
  e2e/page-objects/PlanDetailsPage.ts
  e2e/page-objects/PlansListPage.ts
Due: eslint --fix, prettier --write

feat(e2e): dodaj testy E2E dla zarządzania planami (CRUD)
  ai/e2e-plan-management-implementation-plan.md
  e2e/README.md
  e2e/plans/create-plan-full.spec.ts
  e2e/plans/delete-plan.spec.ts
  e2e/plans/edit-plan-name.spec.ts
  e2e/plans/plan-details.spec.ts
  e2e/plans/plan-rls.spec.ts
  e2e/plans/plans-list.spec.ts
Due: eslint --fix, prettier --write

test: add data-testid attributes for E2E tests
  src/components/DraftPlanView.tsx
  src/components/GenerationsCounter.tsx
  src/components/PlanGenerationLoading.tsx
  src/components/generated-plan/ModificationsCard.tsx
  src/components/generated-plan/WarningsCard.tsx
  src/components/plan-actions/ExportPlanButton.tsx
Due: eslint --fix

feat(e2e): dodanie testów E2E dla systemu feedbacku
  e2e/feedback/README.md
  e2e/feedback/feedback-persistence.spec.ts
  e2e/feedback/rate-plan.spec.ts
  e2e/feedback/submit-feedback.spec.ts
  e2e/fixtures.ts
  e2e/page-objects/FeedbackModule.ts
  e2e/page-objects/PlanDetailsPage.ts
Due: eslint --fix, prettier --write

fix(e2e): Fix E2E test fixtures and schema compatibility
  ai/E2E-REFACTORING-INDEX.md
  ai/README.md
  ai/e2e-feedback-implementation-plan.md
  ai/e2e-master-plan.md
  ai/e2e-plan-editing-implementation-plan.md
  ai/e2e-refactoring-checklist.md
  ai/e2e-refactoring-examples.md
  ai/e2e-refactoring-implementation-plan.md
  ai/e2e-refactoring-quickstart.md
  ai/e2e-refactoring-summary.md
  ai/e2e-refactoring-visual-guide.md
  e2e/export/export-pdf.spec.ts
  e2e/fixtures.ts
  e2e/generation/generate-plan.spec.ts
  e2e/page-objects/PlanDetailsPage.ts
  e2e/plans/plan-details.spec.ts
  e2e/plans/plans-list.spec.ts
Due: eslint --fix, prettier --write

feat(e2e): add authTest and cleanTest fixtures with test-utils
  e2e/auth/login.spec.ts
  e2e/fixtures.ts
  e2e/test-utils.ts
Due: eslint --fix

feat(ui): add data-testid to auth and activity form components
  e2e/auth/login.spec.ts.backup
  e2e/page-objects/ActivityFormModal.ts
  src/components/ActivityForm.tsx
  src/components/auth/ForgotPasswordForm.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/RegisterForm.tsx
  src/components/ui/form-fields/FormSelectField.tsx
  src/components/ui/form-fields/FormTextareaField.tsx
Due: eslint --fix

refactor(e2e): migrate auth page objects to data-testid (Day 4)
  e2e/page-objects/ForgotPasswordPage.ts
  e2e/page-objects/LoginPage.ts
  e2e/page-objects/RegisterPage.ts
Due: eslint --fix

refactor(e2e): migrate auth tests to cleanTest and authTest fixtures (Day 5)
  e2e/auth/logout.spec.ts
  e2e/auth/onboarding.spec.ts
  e2e/auth/password-recovery.spec.ts
  e2e/auth/register.spec.ts
Due: eslint --fix

feat(ui): add data-testid to Plans UI components (Day 6)
  src/components/EmptyState.tsx
  src/components/PlanCard.tsx
  src/components/PlansDashboard.tsx
Due: eslint --fix

refactor(e2e): migrate plans-list tests to authTest fixture (Day 7)
  e2e/plans/plans-list.spec.ts
Due: eslint --fix

refactor(e2e): remove duplicate test files (Cleanup Phase)
  e2e/create-plan.spec.ts
  e2e/example.spec.ts
Due: eslint --fix

refactor(e2e): migrate generation tests to authTest fixture
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-errors.spec.ts
  e2e/generation/generation-limits.spec.ts
  e2e/generation/generation-priorities.spec.ts
Due: eslint --fix

refactor(e2e): migrate history tests to authTest fixture
  e2e/history/auto-archive.spec.ts
  e2e/history/history-readonly.spec.ts
  e2e/history/move-to-history.spec.ts
  e2e/history/view-history.spec.ts
Due: eslint --fix

refactor(e2e): migrate feedback tests to authTest fixture
  e2e/feedback/feedback-persistence.spec.ts
  e2e/feedback/rate-plan.spec.ts
  e2e/feedback/submit-feedback.spec.ts
Due: eslint --fix

refactor(e2e): partial migration of plan-editing tests to authTest fixture
  e2e/plan-editing/activity-validation.spec.ts
  e2e/plan-editing/add-activity.spec.ts
Due: eslint --fix

refactor(e2e): complete migration of all E2E tests to authTest fixture
  e2e/export/export-pdf.spec.ts
  e2e/plan-editing/delete-activity.spec.ts
  e2e/plan-editing/edit-activity.spec.ts
Due: eslint --fix

fix(e2e): cleanup unused imports and fix linting errors
  e2e/export/export-pdf.spec.ts
  e2e/feedback/rate-plan.spec.ts
  e2e/feedback/submit-feedback.spec.ts
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-errors.spec.ts
Due: eslint --fix

refactor(e2e): finalize E2E test migration with linting cleanup
  e2e/auth/login.spec.ts
  e2e/auth/logout.spec.ts
  e2e/auth/onboarding.spec.ts
  e2e/auth/password-recovery.spec.ts
  e2e/auth/register.spec.ts
  e2e/export/export-pdf.spec.ts
  e2e/feedback/rate-plan.spec.ts
  e2e/feedback/submit-feedback.spec.ts
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-errors.spec.ts
  e2e/generation/generation-limits.spec.ts
  e2e/generation/generation-priorities.spec.ts
  e2e/history/auto-archive.spec.ts
  e2e/history/history-readonly.spec.ts
  e2e/history/move-to-history.spec.ts
  e2e/history/view-history.spec.ts
  e2e/plans/plans-list.spec.ts
  e2e/test-utils.ts
  src/components/EmptyState.tsx
  src/components/auth/LoginForm.tsx
Due: eslint --fix

refactor(e2e): migrate remaining tests to authTest pattern and add data-testid
  e2e/generation/generate-plan.spec.ts
  e2e/generation/generation-limits.spec.ts
  e2e/generation/generation-priorities.spec.ts
  e2e/history/auto-archive.spec.ts
  e2e/history/move-to-history.spec.ts
  e2e/plans/create-plan-full.spec.ts
  e2e/plans/delete-plan.spec.ts
  e2e/plans/edit-plan-name.spec.ts
  e2e/plans/plan-rls.spec.ts
  src/components/GenerationsCounter.tsx
  src/components/PlanGenerationLoading.tsx
  src/components/PlanList.tsx
  src/components/PlansDashboard.tsx
Due: eslint --fix

refactor(e2e): migrate feedback and editing tests to authTest fixture, add data-testid
  .ai/FINAL-CHECKLIST.md
  .ai/PROGRESS-UPDATE-JAN5.md
  .github/actions/lint-and-format/action.yml
  .github/actions/run-e2e-tests/action.yml
  .github/actions/run-unit-tests/action.yml
  .github/actions/setup-node-dependencies/action.yml
  .github/actions/verify-build/action.yml
  .github/dependabot.yml
  .github/workflows/master.yml
  .github/workflows/pull-request.yml
  .github/workflows/validate-code.yml
  e2e/feedback/feedback-persistence.spec.ts
  e2e/feedback/rate-plan.spec.ts
  e2e/feedback/submit-feedback.spec.ts
  e2e/history/view-history.spec.ts
  e2e/plan-editing/activity-validation.spec.ts
  e2e/plan-editing/delete-activity.spec.ts
  e2e/plan-editing/edit-activity.spec.ts
  src/components/FeedbackModule.tsx
  src/components/GeneratedPlanView.tsx
  src/components/PlanDetailsView.tsx
  src/components/PlanHeader.tsx
  src/components/PreferencesForm.tsx
  src/components/PreferencesSelector.tsx
  src/components/ProfileHeader.tsx
  src/components/ProfileView.tsx
  src/components/TravelPaceSelector.tsx
Due: eslint --fix, prettier --write

refactor(e2e): migracja testów na lokalne inicjalizacje page objects
  e2e/auth/password-recovery.spec.ts
  e2e/export/export-pdf.spec.ts
  e2e/generation/generation-errors.spec.ts
  e2e/history/history-readonly.spec.ts
  e2e/plan-editing/add-activity.spec.ts
  e2e/plans/create-plan-full.spec.ts
  e2e/plans/delete-plan.spec.ts
  e2e/plans/edit-plan-name.spec.ts
  e2e/plans/plan-details.spec.ts
  e2e/plans/plan-rls.spec.ts
  e2e/plans/plans-list.spec.ts
Due: eslint --fix

Optimize further e2e tests
  e2e/.auth/.gitignore
  e2e/README.md
  e2e/fixtures.ts
  e2e/global-setup.ts
  e2e/history/auto-archive.spec.ts
  e2e/history/history-readonly.spec.ts
  e2e/history/move-to-history.spec.ts
  e2e/history/view-history.spec.ts
  e2e/plan-editing/activity-validation.spec.ts
  e2e/plan-editing/add-activity.spec.ts
  e2e/plan-editing/delete-activity.spec.ts
  e2e/plan-editing/edit-activity.spec.ts
  e2e/plans/delete-plan.spec.ts
  e2e/plans/edit-plan-name.spec.ts
  e2e/plans/plan-details.spec.ts
  e2e/plans/plans-list.spec.ts
  e2e/shared-user-fixtures.ts
  e2e/test-utils.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

Fix tests config
  e2e/plans/create-plan-full.spec.ts
Due: eslint --fix

Final improvements for tests
  e2e/history/history-readonly.spec.ts
  e2e/history/move-to-history.spec.ts
  e2e/history/view-history.spec.ts
  e2e/page-objects/PlanDetailsPage.ts
  e2e/plan-editing/activity-validation.spec.ts
  e2e/plan-editing/delete-activity.spec.ts
  e2e/plans/create-plan-full.spec.ts
  e2e/plans/delete-plan.spec.ts
  e2e/plans/edit-plan-name.spec.ts
  e2e/plans/plan-details.spec.ts
  e2e/plans/plan-rls.spec.ts
  e2e/plans/plans-list.spec.ts
  src/components/EventTimeline.tsx
  src/components/FixedPointsStep.test.tsx
  src/components/SummaryStep.test.tsx
  src/components/SummaryStep.tsx
  src/components/auth/OnboardingModal.test.tsx
  src/components/auth/OnboardingModal.tsx
  src/components/summary/FixedPointSummaryItem.tsx
  src/components/ui/form.tsx
Due: eslint --fix

Fix compilation issues
  .husky/pre-commit
  e2e/plans/delete-plan.spec.ts
  src/components/fixed-points/FixedPointsList.tsx
Due: eslint --fix

Add Claude Code
  CLAUDE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,astro}
  prettier --write: any of: *.{json,md,css}
