Repository jakubwalczakk/city-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Migrate to React 19
  src/components/ui/button.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/textarea.tsx
Due: eslint --fix, prettier --write

Add TODO for RLS migration
  README.md
  src/middleware/index.ts
  supabase/RLS_DEVELOPMENT_GUIDE.md
Due: eslint --fix, prettier --write

Fix linting configuration issue
  .lintstagedrc.json
Due: prettier --write

Experiment with 1st github workflow
  .cursor/rules/github-action.mdc
  .github/BADGES.md
  .github/CI_CD_SETUP_SUMMARY.md
  .github/ENV_TEST_SETUP.md
  .github/LOCAL_TESTING.md
  .github/QUICK_START.md
  .github/README_CI_CD.md
  .github/VISUAL_SUMMARY.md
  .github/WORKFLOW_DIAGRAM.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  CI_CD_IMPLEMENTATION.md
  README.md
Due: prettier --write

Improve 1st workflow, based on the github action rule
  .github/CI_CD_SETUP_SUMMARY.md
  .github/README_CI_CD.md
  .github/VISUAL_SUMMARY.md
  .github/WORKFLOW_DIAGRAM.md
  .github/WORKFLOW_IMPROVEMENTS.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  CI_CD_IMPLEMENTATION.md
Due: prettier --write

Remove .nvmrc file from the gitignore
  .github/WORKFLOW_IMPROVEMENTS.md
  .gitignore
  .nvmrc
Due: prettier --write

Fix pipeline issues by improving defined dependencies
  package-lock.json
  package.json
Due: prettier --write

Fix the workflow issues
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

Fix failing unit test
  package-lock.json
  package.json
  src/components/FixedPointsStep.test.tsx
  src/components/fixed-points/FixedPointsList.tsx
  src/styles/global.css
Due: eslint --fix, prettier --write

Fix E2E tests configuration for the workflow
  .github/workflows/ci.yml
Due: none

Improve workflow secrets reading
  .github/workflows/ci.yml
Due: none

Another attempt to run E2E tests
  .github/workflows/ci.yml
Due: none

Fix E2E tests
  e2e/create-plan.spec.ts
  e2e/page-objects/NewPlanPage.ts
Due: eslint --fix, prettier --write

Update docs
  .github/CI_CD_SETUP_SUMMARY.md
  CI_CD_IMPLEMENTATION.md
Due: prettier --write

Fix linting issues
  .editorconfig
  .prettierrc.json
Due: prettier --write

Improve plan generation prompt structure
  src/lib/services/plan-generation.service.ts
Due: eslint --fix, prettier --write

Fix linting issue
  package-lock.json
Due: prettier --write

Replace example ci pipeline with the proper pull request one
  .env.example
  .github/README_CI_CD.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  .gitignore
  e2e/fixtures.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Fix pull-request workflow
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Fix missing coverage report
  .github/workflows/pull-request.yml
  .nycrc.json
  astro.config.mjs
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Fix failing workflow
  .github/workflows/pull-request.yml
  .prettierrc.json
  e2e/fixtures.ts
Due: eslint --fix, prettier --write

Continuing improving workflow
  .github/workflows/pull-request.yml
  astro.config.mjs
  e2e/create-plan.spec.ts
  e2e/page-objects/NewPlanPage.ts
Due: eslint --fix, prettier --write

Improve pull-request workflow
  .github/workflows/pull-request.yml
  e2e/page-objects/LoginPage.ts
  package.json
Due: eslint --fix, prettier --write

Fix formatting of pull-request workflow
  .github/workflows/pull-request.yml
Due: none

Fix flaky E2E test by reimplementing one of the components
  e2e/page-objects/NewPlanPage.ts
  src/components/PlansDashboard.tsx
Due: eslint --fix, prettier --write

Improve workflow by merging two jobs into one
  .github/workflows/pull-request.yml
Due: none

Update README.md (#1)
  .github/workflows/pull-request.yml
  .nycrc.json
  .prettierrc.json
  README.md
  astro.config.mjs
  e2e/create-plan.spec.ts
  e2e/fixtures.ts
  e2e/page-objects/LoginPage.ts
  e2e/page-objects/NewPlanPage.ts
  package-lock.json
  package.json
  src/components/PlansDashboard.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

Fix formatiing
  .github/workflows/pull-request.yml
Due: none

Prod deployment
  .github/workflows/README.md
  .github/workflows/README_MASTER.md
  .github/workflows/master.yml
  .gitignore
  astro.config.mjs
  package-lock.json
  package.json
  supabase/migrations/20251024120600_disable_rls_for_development.sql
  supabase/migrations/20251024120700_enable_rls_for_production.sql
  supabase/migrations/20260101120000_secure_rls_policies.sql
  vercel.json
Due: eslint --fix, prettier --write

New version of workflow
  .github/workflows/master.yml
Due: none

Improve master workflow
  .github/workflows/master.yml
Due: none

Fix vercel deployment, get rid of public envs
  .ai/AUTH_FINAL_SUMMARY.md
  .ai/auth-routes-overview.md
  .env.example
  .github/CI_CD_SETUP_SUMMARY.md
  .github/ENV_TEST_SETUP.md
  .github/LOCAL_TESTING.md
  .github/QUICK_START.md
  .github/README_CI_CD.md
  .github/VISUAL_SUMMARY.md
  .github/WORKFLOW_DIAGRAM.md
  .github/workflows/README.md
  .github/workflows/README_MASTER.md
  .github/workflows/master.yml
  .github/workflows/pull-request.yml
  CI_CD_IMPLEMENTATION.md
  README.md
  astro.config.mjs
  e2e/create-plan.spec.ts
  e2e/fixtures.ts
  src/db/supabase.client.ts
  src/env.d.ts
  vercel.json
Due: eslint --fix, prettier --write

Fix pull-request workflow configuration
  .github/workflows/pull-request.yml
Due: none

Resolve warnings
  package-lock.json
  package.json
  vercel.json
Due: prettier --write

Fix warnings
  package-lock.json
  package.json
  src/components/FixedPointsStep.test.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

Modify vercel config
  vercel.json
Due: prettier --write

feat: block Vercel deployment on failed CI checks
  .github/workflows/master.yml
  vercel.json
Due: prettier --write

Fix wrong path for vecel scripts
  .github/workflows/master.yml
  eslint.config.js
  scripts/check-ci-status.js
  vercel.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,astro}
  prettier --write: any of: *.{js,jsx,ts,tsx,mjs,astro,json,md,css}
